body {
  margin: 0;
  padding: 0 15px 80px;
  background-image: url("https://previews.123rf.com/images/byheaven/byheaven1408/byheaven140800028/30728413-view-to-ruh-ordo-cultural-complex-near-issyk-kul-lake-at-mountains-background-in-cholpon-ata-kyrgyzs.jpg");
  background-size: 100% 100vh;
  background-repeat: no-repeat;

  font-family: "Open Sans", sans-serif;
}
