body {
  margin: 0;
  padding: 0 15px 80px;
  background-image: radial-gradient(
    circle farthest-corner at -10% -5%,
    rgb(23, 173, 18) 0%,
    rgb(26, 119, 14) 30%,
    #e2c628 80%,
    #248fff 100%
  );
  background-size: 100% 4000px;

  font-family: "Open Sans", sans-serif;
}
